<div class="col-md-4 col-sm-6 col-xs-6" style="background-color: lightslategray;border: 1px solid black; padding: 10px;">
    <div class="col-md-6">
        <a class="no-decoration" href="{{ path('app_announce_announce', {'id': phone.id}) }}">
        {% if phone.photos[0] is defined %}
            <img class="img-contained" src="{{ asset('images/upload/' ~ phone.photos[0].uri) }}" alt="{{ phone.name }}"/>
            <p style="text-align: center; color: black;">{{ phone.photos[0].name }}</p>
        {% else %}
            <img class="img-contained" src="{{ asset('images/upload/no_image.png') }}" alt="{{ phone.name }}"/>
            <p style="text-align: center; color: black;">Aucune image</p>
        {% endif %}
        </a>
    </div>
    <div class="col-md-6">
        <a class="no-decoration" style="color: black; font-size: 18px;" href="{{ path('app_announce_announce', {'id': phone.id}) }}">{{ phone.name }}</a>
        <p class="price" style="background-color: white; text-align: center; border-radius: 5px;">{{ phone.price }} €</p>
        {% if app.user is not null %}
            {% if app.user.id == phone.user.id %}
                <p class="belongsTo">
                    <a style="color: white;" class="no-decoration" href="{{ path('app_announce_updateannounce', {'id':phone.id}) }}">VOTRE ANNONCE</a>
                </p>
            {% endif %}

            {% if app.user.isAdmin %}
                <p class="canAdmin">
                    <a style="color: white;" class="no-decoration" href="{{ path('app_announce_updateannounce', {'id':phone.id}) }}">ADMINISTRER L'ANNONCE</a>
                </p>

                <p class="deleteAdmin">
                    <a style="color: white;" class="no-decoration" href="{{ path('app_announce_deleteannounce', {'id':phone.id}) }}">SUPPRIMER L'ANNONCE</a>
                </p>
            {% endif %}
        {% endif %}

    </div>
</div>