{% extends 'base.html.twig' %}

{% block body %}
        <h1>{{ title_announce|default('Annonces') }}</h1>
        {% if phoneForm is defined %}
            <h2>Effectuer une recherche</h2>

            {% form_theme phoneForm 'bootstrap_3_layout.html.twig' %}

            {{ form_start(phoneForm, {attr:{novalidate:'novalidate'}}) }}
            {{ form_widget(phoneForm) }}

            <button type="submit" class="btn btn-primary">Rechercher</button>
            {{ form_end(phoneForm) }}
        {% endif %}

        <a class="btn btn-primary" href="{{ path('app_announce_createannounce') }}">Créer une annonce</a>

        <h2>Liste des annonces</h2>

        {{ include('Announce/_products_list.html.twig') }}
{% endblock %}