{% extends 'base.html.twig' %}

{% block body %}
        <h1>Gestion des photos</h1>
        <h2>Ajouter une photo <span style="color: green;">(+)</span></h2>
        {% form_theme createPhotoForm 'bootstrap_3_layout.html.twig' %}

        {{ form_start(createPhotoForm, {attr:{novalidate:'novalidate'}}) }}
        {{ form_widget(createPhotoForm) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(createPhotoForm) }}

        <h2>Liste des photos <span style="color: red;">(-)</span></h2>

        <div class="text-center" style="background-color: cornflowerblue; color: white; font-size: 20px;">
            Photos
        </div>

        {% if photos.count > 0 %}
            <table class="table table-striped">
                <tr>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Supprimer <span style="color: red;">(-)</span></th>
                </tr>
            {% for photo in photos %}
                <tr>
                    <td><img style="width: 100px;" src="{{ asset('images/upload/' ~ photo.uri) }}"/></td>
                    <td>{{ photo.name }}</td>
                    <td><a style="color: red;" class="no-decoration" href="{{ path('app_announce_deletephotoannounce', {id : photo.id}) }}">Supprimer</a></td>
                </tr>

            {% endfor %}
            </table>
        {% else %}
            <p style="text-align: center;">Aucune photo pour cette announce. Pourquoi ne pas en ajouter une tout de suite ?</p>
        {% endif %}
{% endblock %}