{% extends 'base.html.twig' %}

{% block body %}
        <div class="row">
            <div class="col-md-4">
                {% if phone.photos[0] is defined %}

                    {% if phone.photos.count > 1 %}
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                {% for photo in phone.photos %}
                                    <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>
                                {% endfor %}
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                {% for photo in phone.photos %}
                                    <div class="item {% if loop.first %}active{% endif %}">
                                        <img src="{{ asset('images/upload/' ~ photo.uri) }}" alt="{{ photo.name }}">
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    {% else %}
                        <img class="img-contained" src="{{ asset('images/upload/' ~ phone.photos[0].uri) }}" alt="{{ phone.name }}"/>
                    {% endif %}
                {% else %}
                    <img class="img-contained" src="{{ asset('images/upload/no_image.png') }}" alt="{{ phone.name }}"/>
                {% endif %}
            </div>
            <div class="col-md-8">
                <h1>{{ phone.brand|capitalize}} {{ phone.name|capitalize }}</h1>

                <p class="description">{{ phone.description }}</p>

                <p class="price">{{ phone.price }} €</p>

                <p class="weight">Poids : {{ phone.weight }}g</p>

                <p class="warranty">Garantie : {{ phone.warrantyYear }} an(s)</p>

                <a class="btn btn-primary" href="">Acheter</a>

                {% if app.user is not null %}

                    {% if app.user.id == phone.user.id %}
                        <div><a href="{{ path("app_announce_updateannounce", {'id' : phone.id} ) }}">[ Modifier votre annonce ]</a></div>
                    {% endif %}

                    {% if app.user.id == phone.user.id %}
                        <div><a style="color: red;" href="{{ path("app_announce_deleteannounce", {'id' : phone.id} ) }}">[ Supprimer votre annonce ]</a></div>
                    {% endif %}

                    {% if app.user.isAdmin %}
                        <div><a style="color: green;" href="{{ path("app_announce_updateannounce", {'id' : phone.id} ) }}">[ Administrer l'annonce ]</a></div>
                    {% endif %}

                {% endif %}
            </div>
        </div>
        <div class="text-center">
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-success">Retour</a>
        </div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
