<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{{ asset('css/style.css?version=4') }}" rel="stylesheet">

    </head>
    <body style="background-image: url({{ asset('images/phone-bg.jpg') }}); background-repeat: no-repeat;
            background-size: 100% 100%; background-attachment: fixed;">
        <header class="container header" style="padding: 20px">
            <h1 style="display: inline-block; margin-top: 10px;"><a class="no-decoration" style="color: white;" href="{{ path('app_announce_index') }}">Sell Phone</a></h1>
            <div style="float: right; margin-top: 25px;">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a  class="no-decoration" style="color: white;" href="{{ path('app_security_index') }}">Connexion</a>
                {% else %}
                    <span class="glyphicon glyphicon-user"></span><a class="no-decoration" style="color: white;" href="{{ path('app_user_index') }}">Espace client</a> |
                    <a class="no-decoration" style="color: white;" href="{{ path('logout') }}">Déconnexion</a>
                    {% if app.user.isAdmin %}
                        <p><a class="no-decoration" style="color: red;" href="{{ path('app_admin_index') }}"> Accès administrateur</a></p>
                    {% endif %}
                {% endif %}
            </div>
            <div>
                <a class="no-decoration" style="color: white;" href="{{ path('app_announce_announcelist') }}">
                    <span class="glyphicon glyphicon-search"></span> Rechercher
                </a>
            </div>
        </header>

        <div class="container" style="margin-top: 20px; padding: 20px 20px;">
            {% if message is defined %}
                <div class="alert alert-success">{{ message }}</div>
            {% endif %}

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
