{% extends 'base.html.twig' %}

{% block body %}
    <p>Bonjour, Administrateur {{ app.user.firstname }} {{ app.user.lastname }} !</p>

    <ul>
        <li><a href="{{ path('app_admin_userslist') }}">Gérer les utilisateurs</a></li>
        <li><a href="{{ path('app_admin_phoneslist') }}">Gérer les téléphones</a></li>
        <li><a href="{{ path('app_admin_brandslist') }}">Gérer les marques</a></li>
        <li><a href="{{ path('app_user_password') }}">Modifier mon mot de passe</a></li>
    </ul>
{% endblock %}