{% extends 'base.html.twig' %}

{% block body %}
        <h1>Liste des marques</h1>
        <a class="btn btn-primary" href="{{ path('app_admin_createbrand') }}">Créer une marque</a>
        <ul>
            {% for brand in brands %}
                <li>{{ brand.name }} : <a class="no-decoration" style="color: green;" href="{{ path('app_admin_updatebrand', {'id': brand.id}) }}">Modifier</a> | <a class="no-decoration" style="color: red;" href="{{ path('app_admin_deletebrand', {'id' : brand.id}) }}">Supprimer</a> </li>
            {% endfor %}
        </ul>
{% endblock %}

