{% extends 'base.html.twig' %}

{% block body %}
        {% if brandForm.vars.value.id is not null %}
            <h1>Modifier une marque</h1>
        {% else %}
            <h1>Créer une marque</h1>
        {% endif %}

        {% form_theme brandForm 'bootstrap_3_layout.html.twig' %}

        {{ form_start(brandForm, {attr:{novalidate:'novalidate'}}) }}
        {{ form_widget(brandForm) }}

        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(brandForm) }}
{% endblock %}