{% extends 'base.html.twig' %}

{% block body %}
        <h1>{{ title_announce|default('Annonces') }}</h1>
        <a class="btn btn-primary" href="{{ path('app_announce_createannounce') }}">Créer une annonce</a>
        <h2>Liste des annonces</h2>
        {{ include('Announce/_products_list.html.twig') }}
{% endblock %}