{% extends 'base.html.twig' %}

{% block body %}
        <h1>Modifier un utilisateur</h1>

        {% form_theme userForm 'bootstrap_3_layout.html.twig' %}

        {{ form_start(userForm, {attr:{novalidate:'novalidate'}}) }}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(userForm.firstname) }}
                {{ form_row(userForm.lastname) }}
                {% if userForm.role is defined %}
                    {{ form_row(userForm.role) }}
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ form_row(userForm.email) }}
                {% if userForm.password is defined %}
                    {{ form_row(userForm.password) }}
                {% endif %}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(userForm) }}
{% endblock %}