{% extends 'base.html.twig' %}

{% block body %}
        <h1>Liste des utilisateurs</h1>
        <a class="btn btn-primary" href="{{ path('app_admin_createuser') }}">Créer un utilisateur</a>
        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Rôle</th>
                <th>Action</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname}}</td>
                    <td>{{ user.role }}</td>
                    <td>
                            <a class="no-decoration" style="color: green;" href="{{ path('app_admin_updateuser', {'id': user.id}) }}">Modifier</a>
                            /
                            <a class="no-decoration" style="color: red;" href="{{ path('app_admin_deleteuser', {'id': user.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}