{% extends 'base.html.twig' %}

{% block body %}
        <h1>Changer son mot de passe</h1>
        {% form_theme userForm 'bootstrap_3_layout.html.twig' %}

        {{ form_start(userForm, {attr:{novalidate:'novalidate'}}) }}
        {{ form_widget(userForm) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(userForm) }}
{% endblock %}

