{% extends 'base.html.twig' %}

{% block body %}
    {% if phoneForm.vars.value.id is not null %}
        <h1>Modifier un produit</h1>
    {% else %}
        <h1>Créer un produit</h1>
    {% endif %}

    {% if phoneForm.vars.value.id is not null %}
        <h2>Gérer les photos</h2>
        <p><a href="{{ path('app_announce_addphotoannounce', {'id' : phoneForm.vars.value.id}) }}">Gérer les photos</a></p>
    {% endif %}

    <h2>Modifier les informations du produit</h2>
    {% form_theme phoneForm 'bootstrap_3_layout.html.twig' %}

    {{ form_start(phoneForm, {attr:{novalidate:'novalidate'}}) }}
    {{ form_widget(phoneForm) }}
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(phoneForm) }}
{% endblock %}