{% extends 'base.html.twig' %}

{% block body %}
        <p>Bonjour, {{ user.firstname }} {{ user.lastname }} !</p>

        <ul>
            <li><a href="{{ path('app_user_account') }}">Gérer mes informations</a></li>
            <li><a href="{{ path('app_user_password') }}">Modifier mon mot de passe</a></li>
            <li><a href="{{ path('app_user_myannouncelist') }}">Consulter mes téléphones</a></li>
            {% if app.user.isAdmin %}
                <li><a style="color: green;" href="{{ path('app_admin_index') }}">Accès administrateur</a></li>
            {% endif %}
        </ul>
{% endblock %}