html{
    height: 100%;
}

.container{
    background-color: white;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 1);
}

.img-contained{
    width: 100%;
}

.description{
    font-size: 15px;
}

.warranty{
    font-size: 20px;
    font-weight: bold;
}

.weight{
    font-size: 20px;
}

.price{
    font-size: 20px;
    font-weight: bold;
    color: green;
}

a.no-decoration{
    text-decoration: none !important;
}

.header{
    background-color: midnightblue;
    color: white;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 1);
}

.belongsTo{
    text-align: center;
    font-size: 10px;
    background-color: darkblue;
    color: white;
}

.canAdmin{
    text-align: center;
    font-size: 10px;
    background-color: green;
    color: white;
}

.deleteAdmin{
    text-align: center;
    font-size: 10px;
    background-color: red;
    color: white;
}