{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    {% if error %}
        <p class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}
        <form action="{{ path('app_security_index') }}" method="POST" class="form-signin">
            <h2 class="form-signin-heading">Connexion</h2>
            <label for="inputEmail" class="sr-only">Addresse Email</label>
            <input type="text" id="inputEmail" name="_username" class="form-control" placeholder="Email" required="" autofocus="" style="margin-bottom: 10px;">
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Mot de passe" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px;">Se connecter</button>
        </form>
        <p><a class="no-decoration" href="{{ path('app_user_createuser') }}">Vous n'êtes pas inscrit ? Créer un compte.</a></p>
{% endblock %}