{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="alert alert-success" style="margin-top: 5px;">
            ok
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

